<%= render 'partials/second_nav' %>

<article class="download content_drop">
	<div class="container">
		<div class="text_guide">
			<section>
				<header>
		 			<h1>Downloads</h1>
		 			<h3><%= t "download.form" %></h3>
					<p><%= t "download.text1" %></p>
				</header>
			</section>
			<section class="antrag">
				<h4><%= t "download.text2" %></h4>
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-B-en.pdf" target="_blank"> 
					<%= t "download.eng" %>
				</a> /
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-Bc.pdf" target="_blank"> 
					<%= t "download.ger" %> 
				</a> / 
				<a href="">Online Formular <%= t "download.soon" %></a>
			</section>
			<section class="nachweis">
				<h4><%= t "download.text3" %></h4>
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B-en.pdf "target="_blank">
					<%= t "download.eng" %>
				</a> /
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B.pdf" target="_blank" > 
					<%= t "download.ger" %> 
				</a> / 
				<a href="">Online Formular <%= t "download.soon" %></a>
			</section>
			<section class="vertrag">
					<h4><%= t "download.text4" %></h4>
					<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_engl1.pdf" target="_blank">
						<%= t "download.eng" %> 
					</a>/
					<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_deutsch.pdf" target="_blank" ><%= t "download.ger" %> 
					</a> / 
				<a href="">Online Formular <%= t "download.soon" %></a>
			</section>
			<section>
				<h4><%= t "download.text6" %></h4>
					<a href="http://www.students-htw.de/images/Inhalt/Dateien/110707formularinfoblatt%20befreiung%20v23.pdf" target="_blank"> <%= t "download.ger" %> 
					</a> / 
				<a href="">Online Formular <%= t "download.soon" %></a>
			</section>
		</div>	
		<br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</article>


				
				