<%= render 'partials/second_nav' %>

<article class="general_info content_drop">
	<title><%= t "general.title" %></title>	
	<div class="container">	
		<div class="text_guide">
			<section>
				<header>
					<h1><%= t "general.title" %></h1></br>
				</header>
			</section>
			<section>
				<%= t "general.text1.html" %>
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_engl1.pdf" target="_blank"> 
		  			<%= t "download.eng"  %>
				</a> / 
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/01/ausbildungsvertrag_deutsch.pdf" target="_blank" >
					<%= t "download.ger" %> 
				</a>
			</section>
			<section>
				<%= t "general.text2.html" %><br>
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-B-en.pdf" target="_blank"> 
					<%= t "download.eng" %>
				</a> / 
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-Bc.pdf" target="_blank">
					<%= t "download.ger" %> 
				</a>
			</section>
			<section>
				<%= t "general.text8.html" %>
				<%= t "general.text3.html" %>
				<ul>
					<li><%= t "general.text4" %></li>
					<li><%= t "general.text5" %></li>
					<li><%= t "general.text6" %></li>
				</ul>
				<%= t "general.text7.html" %>
				<a href="http://www.students-htw.de/images/Inhalt/Dateien/110707formularinfoblatt%20befreiung%20v23.pdf" target="_blank"> 
					<%=t "download.ger" %>
				</a>
				<%= t "general.text9.html" %>
				<%= t "download.text3" %><br>
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B-en.pdf "target="_blank"> 
					<%= t "download.eng" %>
				</a> / 
				<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B.pdf" target="_blank" >
					<%= t "download.ger" %> 
				</a>
			<br><br>
		</div>
	</div>
</article>