<!-- blog start -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading">Latest <span>Entris</span> from the <span>Students</span></h1>
                    <!-- blog filter -->
                    <div class="controls">
                        <label>Filter:</label>
                        <ul>
                            <li><a class="btn btn-more-info filter" data-filter="all">All</a></li>
                        </ul>
                                             
                        <label for="Countrys"> Countrys</label>
                        <ul>
                            <% @countries.each do |country| %>
                                <li><a class="btn btn-more-info filter" data-filter=".<%= country.gsub(/\s+/, "") %>"><%= country %></a></li>
                            <% end %>
                        </ul>
                        <br>
                        <label for="Orientation">Orientation</label>
                        <ul>
                            <% @orientations.each do |ori| %>
                                <li><a class="btn btn-more-info filter" data-filter=".<%= ori[0] %>"><%= ori[0] %></a></li>
                            <% end %>
                        </ul>
                        <br>
                        <div class="sorter">
                        <div class="sorterdate">
                            <label>Sort <small>by Date</small>:</label>
                            <ul>
                                <li><a class="btn btn-more-info sort" data-sort="myorder:asc">Asc</a></li>
                                <li><a class="btn btn-more-info sort" data-sort="myorder:desc">Desc</a></li>
                            </ul>
                        </div>
                        <div class="sortersal">
                            <label>Sort <small>by Salary</small>:</label>
                            <ul>
                                <li><a class="btn btn-more-info sort" data-sort="mysalary:asc">Asc</a></li>
                                <li><a class="btn btn-more-info sort" data-sort="mysalary:desc">Desc</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div id="Container" class="row">
                        <% @internships.each do |internship| %>
                            <%= link_to(internship) do %>
                                <div class="mix col-md-6 <%= internship.orientation.name %> <%= internship.company.country.gsub(/\s+/, "") %> <%= internship.company.city.gsub(/\s+/, "") %>" data-myorder="<%= internship.updated_at %>" data-mysalary="<%= internship.salary %>">
                                    <article>
                                        <div style="display:inline-block;vertical-align:top;">
                                            <figure>
                                                <%= image_tag "orientations/slider-img-#{internship.orientation.name.downcase }.png", class:"img-responsive", alt: "" %>
                                            </figure>
                                        </div>
                                        <div class="internshipDetail" style="display:inline-block;">
                                        <header class="entry-header">
                                            <h3 itemprop="name" class="entry-title">
                                                <%= internship.title %>
                                            </h3>
                                            <h5><%= internship.company.city %><small>(<%= internship.company.country %>)</small></h5>
                                        </header>
                                        <div class="semester">
                                            <p><%= internship.semester.name %></p>
                                            <ul class="lang">
                                                <% internship.programming_languages.map{ |n| n.name }.each do |proLang| %>
                                                    <li><%= proLang %></li>
                                                <% end %>
                                            </ul>
                                        </div>
            <div class="interncontent ratingStars">
               <%= render_stars(internship.rating, self) %>
            </div>

                                    </div>
                                    </article>
                                </div>  
                            <% end %>
                        <% end %>
                    </div>
                    <%= link_to "ERWEITERTE SUCHE", new_searching_path, :class=>'btn btn-default btn-more-info wow bounceIn', :data=>{"wow-duration"=>"500ms", "wow-delay"=>"1200ms"}, :role=>'button' %>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #blog close -->