<%= render 'partials/second_nav' %>



<section class="container content_drop">
    <section id="showintern">
        <header>
        	<h2 class="user_titel"><%= t("header.exchange") %></h2>
      	</header>
      	<div class="col-1">
			<h3> <%= @offer.title %></h3>
			<% if @offer.body.present? %>
				<p id="internship_off_text" style="text-align: justify;"> <%= @offer.body %> </p>
			<% end %>
      	</div>
      	<% if @offer.pdf.present? %>
      		<div class="col-1">
      			<%= link_to "Download PDF", "#{@offer.pdf}" %>
      		</div>
      	<% end %>
    </section>
</section>
<br><br><br><br><br><br><br><br>