 <%= form_for(@user) do |f| %>
      <div class="col-2">
        <label for="publicmail">
            <%= f.label t "users.attributes.publicmail", style:"width:100px;display:inline-block;background-color:red" %>
            <div class="profilecontent">               
                  <div class="edit-recommend1" style="margin-left:10px; cursor: pointer;">
                   <% if @user.publicmail %>
                       <i id="recommend up" class="recommend-publicmail icon-3x fa fa-check"></i>
                   <% else %>
                       <i id="recommend down" class="recommend-publicmail icon-3x fa fa-times"></i>
                   <% end %>
               </div>
               <%= f.hidden_field :publicmail, value: @user.publicmail ? 1 : 0 %>
            </div>
         </label>
      </div>
      <div class="col-2">
            <label for="mailnotif">
               <%= f.label t "users.attributes.mailnotif"  %>
               <div class="profilecontent">    
               <div class="edit-recommend1" style="margin-left:10px; cursor: pointer;">              
                     <% if @user.mailnotif %>
                     <i id="recommend up" class="recommend-mailnotif icon-3x fa fa-check"></i>
                  <% else %>
                     <i id="recommend down" class="recommend-mailnotif icon-3x fa fa-times"></i>
                  <% end %>
               </div>
               <%= f.hidden_field :mailnotif, value: @user.mailnotif ? 1 : 0 %>
            </div>
         </label>
      </div>
      <div class="col-1">
         <label for="email">
            <%= f.label t "users.attributes.email" %>
            <div class="profilecontent">
                <%= f.text_field :email, class: "textlabel" %>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="email">
            <%= f.label t "users.attributes.password" %>
            <div class="profilecontent">
                 <%= f.password_field :password %>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="email">
             <%= f.label t "users.attributes.password_confirmation" %>
            <div class="profilecontent">
                <%= f.password_field :password_confirmation %>
            </div>
         </label>
      </div>
      <div class="col-1">
         <div class="action">
         <%= f.submit t(params[:action] == 'new' ? 'users.create' : 'users.update'), class: "btn btn-success saveinternship" %>
        </div>
      </div>
      <% end %>