<%= render 'partials/second_nav' %>


<section class="container content_drop">
   	<section id="favorite">
   	<header>
        		<h2 class="favorite_titel"><%= t "users.show.favorites_title" %></h2>
      		</header>
    	<% if !@favorites.empty? %>
      		<div class="col-1">
      			<table class="table">
					<tbody>
						<% @favorites.each do |favorite| %>
							<tr class="<%= cycle("even_row2", "odd_row2") %> fav_raw_click" data-href="<%= internships_path %>/<%= favorite.internship.id %>">
								<%= link_to favorite.internship do %>
									<td><%= favorite.internship.title %></td>
								    <td><%= favorite.internship.company.address %></td>
								    <td><%= favorite.internship.orientation.name %></td>
								    <td><%= favorite.internship.programming_languages.map { |n| n.name }.join(", ") %></td>
								<% end %>
								<td><%= link_to "", favorite, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-3x fa fa-times button_intern" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% else %>
			<div>
				<header>
					<h3> <%= t "favorite.notfound.title" %> </h3>
				</header>
				<p>
					<%= t("favorite.notfound.message", :href => link_to(t("favorite.notfound.link"), internships_path)).html_safe %>
				</p>
			</div>
		<% end %>
	</section>
</section>

	<br><br><br><br><br><br>
	<br><br><br><br><br><br>
	<br><br><br><br><br><br>


