<%= render 'partials/main_nav' %>
<section class="notivication">
   <p id="notice"><%= notice %></p>
</section>

<section class="container content_drop">
   <section id="showintern">
      <header>
         <h2 class="intern-head"> <%= t"internships.details" %></h2>
      </header>
      <div class="col-1 map">
         <div class="map_container">
            <div id="map3" class="gmaps4rails_map"></div>
         </div>
      </div>
      <div class="col-2">
         <label for="title">
            <%= t "internships.attributes.title" %>
            <div class="interncontent">
               <%= @internship.title %>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="orientation">
            <%= t "internships.attributes.orientation" %>
            <div class="interncontent">
               <%= @internship.orientation.try(:name) %>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="programming_languages">
            <%= t "internships.attributes.programming_languages" %>
            <div class="interncontent">
               <%= @internship.programming_languages.map(&:name).join(", ") %>               
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="working_hours">
            <%= t "internships.attributes.working_hours" %>
            <div class="interncontent">
               <%= @internship.working_hours %>/<%= t("unit.week")%>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="salary">
            <%= t "internships.attributes.salary" %>
            <div class="interncontent">
               <%= @internship.salary %> €/<%= t("unit.month")%>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="orientation">
            <%= t "internships.attributes.living_costs" %>
            <div class="interncontent">
               <%= @internship.living_costs %> €/<%= t("unit.month")%>
            </div>
         </label>
      </div>
      <section class="col-1">
         <head>
            <h3>Company</h3>
         </head>
      </section>
      <div class="col-2">
         <label for="company">
            <%= t "companies.attributes.name"  %>
            <% if  @company.website %>
               <div class="interncontent">
                  <%= link_to @company.name, url_with_protocol(@company.website) , target: "_blank" if @company.website %>
               </div>
            <% else %>
               <div class="interncontent">
                  <%= @company.name %>
               </div>
            <% end %>
         </label>
      </div>
      <div class="col-2">
         <label for="industry">
            <%= t "companies.attributes.industry"  %>
            <% if  @company.industry %>
               <div class="interncontent">
                  <%= @company.industry %>
               </div>
            <% else %>
               <div class="interncontent">
                  <p>-</p>
               </div>
            <% end %>
         </label>
      </div>
      <div class="col-2">
         <label for="number_employees">
            <%= t "companies.attributes.number_employees"  %>
            <% if @company.number_employees %>
               <div class="interncontent">
                  <%= @company.number_employees %>
               </div>
            <% else %>
               <div class="interncontent">
                  <p>-</p>
               </div>               
            <% end %>
         </label>
      </div>
      <div class="col-2">
         <label for="main_language">
            <%= t "companies.attributes.main_language"  %>
            <% if @company.main_language %>
               <div class="interncontent">
                  <%= @company.main_language %>
               </div>
            <% else %>
               <div class="interncontent">
                  <p>-</p>
               </div>
            <% end %>
         </label>
      </div>
      <% if @other_internships.any? %>
         <article class="row" id="row2-intern">   
            <div id="company-title">
               <%= t("internships.others")  %>
            </div>
            <br/>
            <div id="company-title-text">
               <% @other_internships.each do |other| %> 
                  <div>
                     <%= link_to " #{other.title}", other, class: "btn btn-success icon-white icon-circle-arrow-right icon-large" %>
                  </div>   
                  <br/>
               <% end %>        
            </div>
         </article>
      <% end %>
      <section class="col-1">
         <head>         
            <h3>Ratings</h3>
         </head>
      </section>
      <div class="col-1 av_rate">
         <label for="average_rating">
            <%= t "companies.attributes.rating"  %>
            <div class="interncontent ratingStars">
               <%= render_stars(@company.average_rating,self) %>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="tasks_rating">
            <%= t "internships.attributes.tasks_rating" %>
            <div class="interncontent ratingStarsTask">
               <%= render_stars @internship.internship_rating.tasks, self %>
            </div>
         </label>
      </div>
      <div class="col-2">
         <label for="training_success">
            <%= t "internships.attributes.training_rating" %>
            <div class="interncontent ratingStarsLearn">
               <%= render_stars @internship.internship_rating.training_success, self %>
            </div>
         </label>
      </div>
      <div class="col-3">
         <label for="atmosphere">
            <%= t "internships.attributes.atmosphere_rating" %>
            <div class="interncontent ratingStarsAtmo">
               <%= render_stars @internship.internship_rating.atmosphere, self %>
            </div>
         </label>
      </div>
      <div class="col-3">
         <label for="supervision">
            <%= t "internships.attributes.supervision_rating" %>
            <div class="interncontent ratingStarsSuperV">
               <%= render_stars @internship.internship_rating.supervision, self %>
            </div>
         </label>
      </div>
      <div class="col-3">
         <label for="industry">
            <%= t "internships.attributes.appreciation_rating"  %>
            <div class="interncontent ratingStarsAppre">
               <%= render_stars @internship.internship_rating.appreciation,self %>
            </div>
         </label>
      </div>
      <section class="col-1">
         <head>         
            <h3>Student</h3>
         </head>
      </section>
      <div class="col-3">
         <label for="student">            
            <% if @internship.student.try(:user).try(:publicmail) %>
               <%= t "users.attributes.email" %>
               <div class="interncontent">
                  <%= mail_to @internship.student.user.email, @internship.try(:student).try(:name) %>
               </div>
            <% else %>
               <%= t "internships.attributes.student" %>
               <div class="interncontent">
                  <%= @internship.try(:student).try(:name) %>
               </div>
            <% end %>
         </label>
      </div>
      <div class="col-3">
         <label for="semester">
            <%= t "internships.attributes.semester" %>
            <div class="interncontent">
               <%= @internship.semester.name %>
            </div>
         </label>
      </div>
      <div class="col-3">
         <label for="recommend">
            <%= t "internships.attributes.recommend" %>
            <div class="interncontent">
               <% if @internship.recommend %>
                  <i class="icon-3x fa fa-check"></i>
               <% else %>
                  <i class="icon-3x fa fa-times"></i>
               <% end %>
            </div>
         </label>
      </div>
      <div class="col-1">
         <label for="description">
            <%= t "internships.attributes.description" %>
            <div class="interncontent desc">
               <%= @internship.description %>
            </div>
         </label>
      </div>
      <% if @internship.attachments.present? %>
         <div class="col-2 favbtn">
            <% if @favorite %>
               <%= link_to({:controller=>:favorite,:action=>:destroy, :id => @favorite.id}, {:method=>:delete, remote: true, class: "btn btn-danger"}) do %>
                  <i class="icon-remove icon-large icon-white"> </i><%= t("favorite.delete") %>
               <% end %>
            <% else %>
               <%= link_to({:controller=>:favorite,:action=>:create, :internship_id => @internship.id, :user_id => current_user.id}, {:method=>:post, remote: true, class: "btn btn-success"}) do %>
                  <i class="icon-heart icon-large icon-white"> </i><%= t("favorite.add") %>
               <% end %>
            <% end %>
         </div>
         <div class="col-2">
            <% if @internship.attachments.present? %>
               <b><%= t "internships.attributes.pictures" %> :</b>
               <% @internship.attachments.each do |attachment| %>
                  <a href="#myModal" role="button" class="btn" data-toggle="modal">
                     <%= image_tag attachment.file_url(:thumb) %>
                  </a>
                  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Photo Gallery</h3>
                     </div>
                     <div class="modal-body">
                        <%= image_tag attachment.file_url %>
                     </div>
                     <div class="modal-footer"></div>
                  </div>
               <% end %>
               <br/>
            <% end %>
            <% if @internship.internship_report.present? %>
               <b><%= t "internships.attributes.internship_report" %> :</b>
               <br/>
               <%= link_to File.basename(@internship.internship_report.path), @internship.internship_report.url %>
               <br/>
            <% end %>
         </div>
      <% else %>
         <div class="col-1 favbtn">
            <% if @favorite %>
               <%= link_to({:controller=>:favorite,:action=>:destroy, :id => @favorite.id}, {:method=>:delete, remote: true, class: "btn btn-danger"}) do %>
                  <i class="icon-remove icon-large icon-white"> </i><%= t("favorite.delete") %>
               <% end %>
            <% else %>
               <%= link_to({:controller=>:favorite,:action=>:create, :internship_id => @internship.id, :user_id => current_user.id}, {:method=>:post, remote: true, class: "btn btn-success"}) do %>
                  <i class="icon-heart icon-large icon-white"> </i><%= t("favorite.add") %>
               <% end %>
            <% end %>
         </div>
      <% end %>
      <div class="col-1 commentBtn">
         <a class="btn btn-success" id="hide_all">
            <i class="icon-comments icon-large"></i> 
            <%= @internship.user_comments.size %> <%= @internship.user_comments.size == 1 ? t("comments.singular") : t("comments.plural") %>
         </a><br><br>
         <div id="comment_div">
            <div id="comment_form" style="display:none;">
               <%= form_for(@comment, remote: true ) do |f| %>
                  <div class="field">
                     <%= f.hidden_field :internship_id, value: @internship.id %>
                     <%= f.label t "comments.attributes.body" %>
                     
                     <div class="actions summitNewComment">
                        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                           <i class="icon-ok icon-white icon-large"></i> <%= t"buttons.save" %>
                        <% end %><br><br>
                     </div>
                     <%= f.text_field :body %>
                  </div>
               <% end %>
            </div>
            <% @user_comments.each do |i| %>  
               <div class="comment" style="display:none;"> 
                  <div id="user"><%= i.user.name %> 
                     <%= t "helpers.at" %>
                     <%= I18n.localize(i.created_at, :format => :long) %>
                     :
                  </div><br><br>
                  <div id="sentence">
                     <%= i.body %>
                     <% if current_user.id == i.user_id %>
                        <%= link_to " "+(t "buttons.destroy"),  {:controller => :user_comments, :action => 'destroy', :id => i.id}, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right delete icon-white icon-remove icon-large", remote: true  %>
                     <% end %>
                  </div>
                  <br/>
               </div>
               <% if i.answer.present? %>
                  <div class="answer" style="display:none;">
                     <div id="user_2"><%= t "answers.from" %>
                        <%= i.answer.user.name %> 
                        <%= t "helpers.at" %>
                        <%= i.answer.created_at.to_formatted_s(:long_ordinal) %>
                        :
                     </div><br><br>
                     <div id="sentence_2">
                        <%= i.answer.body %>
                        <% if current_user.id == @internship.student.user.id %>
                           <%= link_to " "+(t "buttons.destroy"),  {:controller => :answers, :action => 'destroy', :id => i.answer.id}, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right delete icon-white icon-remove icon-large", remote: true %>
                        <% end %>
                     </div><br>
                  </div>
               <% else %>
                  <% if current_user.id == @internship.student.user.id %>
                     <br>
                     <%= form_for(@answer, remote: true) do |f| %>
                        <div class="answer_2" style="display:none">
                           <div id="answer_field">
                              <div class="field">
                                 <%= f.hidden_field :internship_id, value: @internship.id %>
                                 <%= f.hidden_field :user_comment_id, value: i.id %>
                                 <div id="user_3"><%= f.label t "answers.attributes.body" %></div>
                                 
                                 <div class="actions save_button">
                                    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                                       <i class="icon-ok icon-white icon-large"></i> <%= t"buttons.save" %>
                                    <% end %>
                                 </div>
                                 <div id="sentence_3"><%= f.text_field :body %></div>
                              </div>
                           </div>
                        </div>
                     <% end %>
                  <% end %>
               <% end %>
            <% end %>
         </div>
      </div>
   </section>
</section>

<script type="text/javascript">  
   handler = Gmaps.build('Google');
   handler.buildMap({ provider: {}, internal: {id: 'map3'}}, function(){
      markers = handler.addMarkers(<%=raw @pins.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
   });
</script>