<%= render 'partials/second_nav' %>

<section class="container content_drop">
   	<section id="guide-faq">
    	<header>
        	<h2 class="faq_titel"><%= t "faq.title" %></h2>
      	</header>
		<div class="col-1">
			<h4><b><%= t "faq.title2" %></b></h4></br>
			<p><%= t "faq.frage1.html" %></p></br>
			<p><%= t "faq.frage2.html" %></p></br>
			<p><%= t "faq.frage3.html" %></p></br>
			<p><%= t "faq.frage4.html" %></p></br><br>
		</div>
		<div class="col-1">
			<h4><b><%= t "faq.title3" %></b></h4></br>
			<p><%= t "faq.frageI1.html" %></p></br>
			<p><%= t "faq.frageI2.html" %></p></br>
		</div>
	</section>
</section>